
<div class="container-answer">
  <h1 id="headder"> YOUR STUPID <em>Bitachass</em> COACH</h1>

  <div class="question">
    <h3><%= @question %></h3>
    <h4> - You</h4>
  </div>

  <div class="answer">
    <h3><%= @answer %></h3>
    <h4> - Your Coach</h4>
  </div>
  <br>
  <br>
  <a href="/home" id="button"> New Question</a>
</div>
