
<h1 id="title">Welcome to your <em>Stupid</em> COACH 🚀!</h1>
<div class="container-home">
    <h2>Please input the first thing that pop's into your brain</h2>

    <form action="/answer">
      <input type="text" name="question" placeholder="What's on your Mind?">
      <input type="submit" value="Ask!" class="form-send">
    </form>
</div>


